@import url('https://fonts.googleapis.com/css2?family=Kalnia&display=swap');

:root{
    --padding-container: 100px 0;
    --color-title: #e9ae0c;
}

body{
    font-family: 'Kalnia', serif;

}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-image: linear-gradient(180deg, #0000008c, #0000008c 100%), url(../imagenes/fondo1.png);
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
        z-index: -1;
}

/* NAV */

.nav{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav__title{
    font-weight: 300;
    color: #222f3f;
}
.nav__link{
    margin-left:auto ;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}
.nav__menu{
    margin-left:auto ;
    cursor: pointer;
    display: none;
}
.nav__links{
    color: #0f1014 ;
    text-decoration: none;
}
.nav__items{
    list-style: none;
}
.nav__img{
    display: block;
    width: 30px;
}
.nav__cerrar{
    cursor: pointer;
    display: none;
}

/* HERO CONTAINER */

.hero__container{
    max-width: 800px;
    display: grid;
    --padding-container:0;
    grid-auto-rows: max-content ;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}
.hero__title{
    font-size: 3rem;
}
.hero__paragraph{
    margin-bottom: 20px;
}
.cta{
    display: inline-block;
    background-color: #1f2c3c;
    justify-self: center;
    color: #72715c;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}


/* ABOUT */


.about{
    text-align: center;

}
.subtitle{
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about__paragraph{
    line-height: 1.7;
}
.about__main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(260px,auto));
    gap: 3em;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;


}
.about__icons{
    display: grid;
    gap:1em;
    justify-items: center;
    width: 280px;
    overflow: hidden;
    margin: 0 auto;
}

.about__icon{
    width: 40px;
}

/* KNOWLEDGE */

.knowledge__container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding: var(--padding-container);
    display: flex;
}
.knowledge__texts{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    margin: auto;
    text-align: left;
}
.subtitle{
    width: 60%;
    text-align: left;
    margin-bottom: 70px;
}
.knowledge__paragraph{
    width: 50%;
    text-align: left;
    margin-bottom: 70px;
    font-size: large;
    line-height: 1.7;
    
}
.knowledge__container .cta{
    width: 150px;
    text-align: center;
    justify-content: center;
    margin-left: 150px;
}

.knowldege__picture{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.knowldege__picture::before{

    content: "";
    width: 100%;
    height: 100%;
    background-attachment: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;

}

/* PRICE */
.price{
    text-align: center;
}

.price__table{
    display: flex;
    padding-top: 60px;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;

}
.price__element{
    text-align: center;
    background-color: #38a5ba;
    width: 300px;
    padding: 40px;
    border-radius: 10px;
    --color-plan:#e9ae0c;
    --color-price:#fff;
    --bg-cta:#fff;
    --color-cta:#000;
    --color-items:#151515;
}

.price__element--best{
    width: 330px;
    padding: 60px 50px;
    background-color: #cc8825;
    --color-plan:#fff;
    --color-price:#394b5e;
    --bg-cta:#1f2c3c;
    --color-cta:#000;
    --color-items:#fff;
}


.price__name{
    color:var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
}
.price__price{
    font-size: 2.5rem;
    color: var(--color-price);
}

.price__items{
    margin-top: 35px;
    display: grid;
    gap:1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--color-items);
}
.price__cta{
    color:#e9ae0c ;
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}


/* TESTIMONY */

.testimony{
    background-color: #54b1c3;
    margin-bottom: 50px;
}

.testimony__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}
.testimony__body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    padding: 18px 10px;
}
.testimony__body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 2s ease-in-out;
}
.testimony__img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;

}
.testimony__texts{
    max-width: 700px;
}
.testimony__review{
    color: #e5f0f0;
}
.testimony__course{
    background-color: #cc8825;
    color: #fff;
    display: inline-block;
    padding: 5px;
}
.testimony__arrow{
    width: 90%;
    cursor: pointer;
}

/* QUESTIONS */

.questions{
    text-align: center;

}
.questions .subtitle{
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}
.questions__container{
    display: grid;
    gap: 2em;padding-top: 50px;
    padding-bottom: 100px;
}

.questions__padding{
    padding: 0;
    transition: padding .2s;
    border: 1px solid #000;
    border-radius: 6px;

}

.questions__padding--add{
    padding-bottom: 30px;
}

.questions__answer{
    padding:  0 30px 0 30px;
    overflow: hidden;
}

.questions__title{
    display: flex;
    padding: 30px 0 30px;
    cursor: pointer;
    color: var(--color-title);
    justify-content: space-between;
    font-size: 20px;
}
.questions__arrow{
    border-radius: 50%;
    background-color:#000;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition: transfomr .3s;
}

.questions__arrow--rotate{
    transform: rotate(180deg);
}

.questions__show{
    text-align: left;
    height: 0;
    transition: height .3s;
}

.questions__img{
    display: block;
}

.questions__copy{
    width: 60%;
    margin:0 auto;
    margin-bottom: 30px;
}

/* FOOTER */
.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    padding-bottom: 30px;
}
.footer{
    background-color: #1f2c3c;
}

.footer__title{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer__title, .footer__newsletter{
    color: var(--color-title);
}

.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    color: #fff;
}

.nav__link--footer{
    display: flex;
    margin: 0;
    margin-right:20px ;
    flex-wrap: wrap;
    color: #fff;
}

.footer__inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}
.footer__input{
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer__submit{
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    background-color: #394b5e;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
}
 
.footer__container .nav__link--footer .nav__links {
    color: #fff !important;

}

.footer__copy{
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}

.footer__copyright{
    font-weight: 300;
}
.footer__icons{
    display: inline-flex;
    margin-bottom: 10px;
}

.footer__img{
width: 30px;
}









/* Medias querys */







@media screen and (max-width: 800px){

    .nav__menu{
        display: block;
    }
    .nav__link--menu{
        position: fixed;
        background-color: #000;
        top: 0; left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7 opacity;

    }
    .nav__links{
        color: #cc8825;

    }
    .nav__link--show{
        --show:block;
        opacity: 1;
        pointer-events: none;

    }
    .nav__cerrar{
        display: none;
        cursor: pointer;
        position: absolute;
        top: 30px;
        right: 30px;
        width: 40px;
        z-index: 1000;
    }
    .hero__title{
        font-size:2.5rem;
    }

    .about__main{
        gap: 2em;
    }
    .about__icons:last-of-type{
        grid-column: 1/-1;
    }

    .questions__copy{
        width: 100%;
    }

    .footer__container{
        flex-wrap: wrap;
    }

    .nav--footer{
        width: 100%;
        justify-items: center;       
         
    }
    .nav__link--footer{
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }
    .footer__form{
        width: 100%;
        justify-content: space-evenly;
    }
    .footer__input{
        flex: 1;
    }
    .knowledge__container{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .knowledge__picture{
        grid-row: 1/2;
        justify-self: center;
    }

    .testimony__container{
        grid-template-columns: 30px 1fr 30px;
    }

    .testimony__body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items:center ;
    }


    .testimony__img{
        width: 200px;
        height: 200px;
        
    }



    .knowledge__container{
    height: 130vh;
    background-color: #4dadc1;
    }
    .knowldege__picture{
        display: none;
    }
    .subtitle{
        width: 90%;
        text-align: left;
        margin-bottom: 30px;
    }
    .knowledge__paragraph{
        width: 90%;
        text-align: left;
        margin-bottom: 70px;
        font-size: large;
        line-height: 1.7;
        
    }
    .knowledge__texts{
        margin-top: 20px;
        padding-top: 20px;
        position: absolute;
        display: flex;
        flex-direction: column;
        margin: auto 20px;
        text-align: center;
    }
    .knowledge__container .cta{
        width: 150px;
        text-align: center;
        justify-content: center;
        margin: auto;
    }
}
@media (max-width:600px){
    .hero__title{
        font-size: 2rem;
    }

    .hero__paragraph{
        font-size: 1rem;
    }

    .subtitle{
        font-size: 1.8rem;
    }

    .price__element{
        width: 90%;
    }

    .price__element--best{
        width: 90%;
        /* padding: 40px; */
    }

    .price__price{
        font-size: 2rem;
    }

    .testimony{
        --padding-container: 60px 0;
    }

    .testimony__container{
        grid-template-columns: 28px 1fr 28px;
        gap: .9em;
    }

    .testimony__arrow{
        width: 100%;
    }

    .testimony__course{
        margin-top: 15px;
    }

    .questions__title{
        font-size: 1rem;
    }

    .footer__title{
        justify-self: start;
        margin-bottom: 15px;
    }

    .nav--footer{
        padding-bottom: 60px;
    }

    .nav__link--footer{
        justify-content: space-between;
    }

    .footer__inputs{
        flex-wrap: wrap;
    }

    .footer__input{
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 16px;
    }

    .footer__submit{
        margin-right: auto;
        margin-left: 0;
        

        /* 
        margin:0;
        width: 100%;
        */
    }
}